* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    background-color: aquamarine;
}

main {
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5 px rgba(0, 0, 0, 0.473);
}